.page-nav {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-top: 10px;
}

#kobe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 25px;
}

#fork {
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-header__subtitle {
  font-size: 22px;
  font-weight: 600;
  opacity: 0.4;
  margin-bottom: 25px;
}
